<nb-layout>
  <nb-layout-column>
    <div class="toast__container">
      <limeade-toast-factory></limeade-toast-factory>
    </div>
    <div class="container">
      <nb-card class="container__card">
        <nb-card-header>
          <div class="container__card-logo">
            <a target="_blank" href="https://www.npmjs.com/package/ng-limeade"><img src="../assets/images/NgLimeadeLogo.png" width="300px" alt="ngLimeade logo"></a>
            <p class="container__card-logo-text">An Angular Toast Notifications Library</p>
          </div>
        </nb-card-header>
        <nb-card-body>
          <form [formGroup]="toastSelection">
          <div class="container__card-item">
            <p class="container__card-item-label">Toast Title</p>
            <input formControlName="toastTitle" nbInput fullWidth type="text">
          </div>
          <div class="container__card-item">
            <p class="container__card-item-label">Toast Description</p>
            <input formControlName="toastDescription" nbInput fullWidth type="text">
          </div>
          <div class="container__card-item">
            <p class="container__card-item-label">Toast Icon Name (Font Awesome)</p>
            <input nbInput formControlName="iconTitle" fullWidth type="text" placeholder="e.g. 'coffee'">
          </div>
          </form>
          <p class="container__card-item-label">Toast Type</p>
          <div class="container__card-item">
            <nb-radio-group [(ngModel)]="this.option">
              <nb-radio
                *ngFor="let option of options"
                [value]="option.value">
                {{ option.label }}
              </nb-radio>
            </nb-radio-group>
          </div>
          <button nbButton fullWidth (click)="showToast()">Show Toast</button>
        </nb-card-body>
      </nb-card>
    </div>
  </nb-layout-column>

<!--  <nb-layout-footer fixed></nb-layout-footer>-->
</nb-layout>
